.vscode
softway_sys/__pycache__
booking/__pycache__
admin/__pycache__
checkreservation/__pycache__
checkreservation/migrations/__pycache__
admin/migrations/__pycache__
booking/migrations/__pycache__
checkbooking/__pycache__
checkbooking/migrations/__pycache__
.idea/misc.xml
.idea/modules.xml
.idea/system.iml
.idea/vcs.xml
.idea/workspace.xml
.idea
__pycache__/manage.cpython-36.pyc
.idea/libraries/R_User_Library.xml
utility/__pycache__
common/utility/__pycache__
common/__pycache__
userdashboard/__pycache__
userdashboard/migrations/__pycache__
templates/templatetags/__pycache__
main/__pycache__
main/migrations/__pycache__
