{% extends 'admin_base.html' %}

<!-- include 'header.html'   => image-->
<!-- content-->
{% block content %}
{% load static %}
<div class="w3-center">
    <font size='5' face="DFKai-sb">
        <b><I>聰明工作，智慧生活</I></b>
        <h3>分店管理(共{{data|length}}筆)</h3>
    </font>

</div>

<!-- add Modal -->
<div id="add_Modal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
        <header class="w3-container w3-teal w3-center w3-padding-32">
            <span onclick="document.getElementById('add_Modal').style.display='none'"
                class="w3-button w3-teal w3-xlarge w3-display-topright">X</span>
            <h2 class="w3-wide"><i class="fa fa-bell"></i> 新增價位</h2>
        </header>
        <div class="w3-container">
            <br>
            <font size="4">
                <!-- action-->

                <label><span> 店家名稱<font color='red'>*</font>： </label>
                <input id='add_store_name' type="text" class="w3-input w3-border" placeholder="E.g: $1200" value="">
                <br>
                <label><span> 店家地址<font color='red'>*</font>： </label>
                <input id='add_store_address' type="text" class="w3-input w3-border" placeholder="E.g: 1200" value="">
                <br>
                <label><span> 店家電話<font color='red'>*</font>： </label>
                <input id='add_store_phone' type="tel" class="w3-input w3-border" placeholder="E.g: $1200" value="">
                <br>
                <label><span> 店家傳真<font color='red'>*</font>： </label>
                <input id='add_store_fax' type="tel" class="w3-input w3-border" placeholder="E.g: 1200" value="">
                <br>
                <label><span> 提供外帶<font color='red'>*</font>： </label>
                <select class="select form-control" style='font-size:18px; height:40px;' type="text" value=""
                    id='add_tk_service' required>
                    <option name='tk_service' value="True" selected >提供外帶</option>
                    <option name='tk_service' value="False" >不提供外帶</option>

                </select>
                <br>
                <label><span> 店內座位<font color='red'>*</font>： </label>
                <input id='add_seat' type="tel" class="w3-input w3-border" placeholder="E.g: 1200" value="">
                <br>


                <br>
                <button id='modal_button_save_add' onclick='save_add()'
                    class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">確定新增
                    <i class="fa fa-check"></i></button>
                <button class="w3-button w3-red w3-section"
                    onclick="document.getElementById('add_Modal').style.display='none'">關閉 <i
                        class="fa fa-remove"></i></button>
            </font>
        </div>

    </div>
</div>


<div class="w3-container">

    <ul class="w3-ul w3-card-4">

        {% for element in data %}
        <!-- edit Modal -->
        <div id="edit_Modal" class="w3-modal">
            <div class="w3-modal-content w3-animate-top w3-card-4">
                <header class="w3-container w3-teal w3-center w3-padding-32">
                    <span onclick="document.getElementById('edit_Modal').style.display='none'"
                        class="w3-button w3-teal w3-xlarge w3-display-topright">X</span>
                    <h2 class="w3-wide"><i class="fa fa-bell"></i> 修改店家資訊</h2>
                </header>
                <div class="w3-container">
                    <br>
                    <font size="4">
                        <input id='edit_store_id' type="text" style="display: none">
                        <!-- action-->
                        <label><span> 店家名稱： </label><span
                            onclick="document.getElementById('edit_store_name').removeAttribute('disabled')"><i
                                class="far fa-edit w3-right"></i></span>
                        <input id='edit_store_name' type="text" class="w3-input w3-border" value="" disabled>
                        <br>
                        <label><span> 店家地址： </label><span
                            onclick="document.getElementById('edit_store_address').removeAttribute('disabled')"><i
                                class="far fa-edit w3-right"></i></span>
                        <input id='edit_store_address' type="text" class="w3-input w3-border" value="" disabled>
                        <br>
                        <label><span> 店家電話： </label><span
                            onclick="document.getElementById('edit_store_phone').removeAttribute('disabled')"><i
                                class="far fa-edit w3-right"></i></span>
                        <input id='edit_store_phone' type="text" class="w3-input w3-border" value="" disabled>
                        <br>
                        <label><span> 店家傳真： </label><span
                            onclick="document.getElementById('edit_store_fax').removeAttribute('disabled')"><i
                                class="far fa-edit w3-right"></i></span>
                        <input id='edit_store_fax' type="text" class="w3-input w3-border" value="" disabled>
                        <br>
                        <label><span> 提供外帶： </label><span
                            onclick="document.getElementById('edit_tk_service').removeAttribute('disabled')"><i
                                class="far fa-edit w3-right"></i></span>
                        <input id='edit_tk_service' type="text" class="w3-input w3-border" value="" disabled>
                        <br>
                        <label><span> 店內座位： </label><span
                            onclick="document.getElementById('edit_seat').removeAttribute('disabled')"><i
                                class="far fa-edit w3-right"></i></span>
                        <input id='edit_seat' type="text" class="w3-input w3-border" value="" disabled>
                        <br>

                        <button id='modal_button_save_edit' onclick='save_edit()'
                            class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">儲存
                            <i class="fa fa-check"></i></button>
                        <button id='modal_button_delect_store' onclick="delete_store(this,'{{element.store_id}}')"
                            class="w3-button w3-block w3-red w3-padding-16 w3-section w3-right">刪除店家
                            <i class="fas fa-trash-alt"></i></button>
                        <button class="w3-button w3-red w3-section"
                            onclick="document.getElementById('edit_Modal').style.display='none'">關閉 <i
                                class="fa fa-remove"></i></button>
                    </font>
                </div>

            </div>
        </div>
        <li class="w3-bar">
            <!--go to admin_setting-->
            <button onclick= "setting('admin')" class="w3-button w3-white w3-large w3-right"><i
                    class="fas fa-angle-right"></i></button>
            <!--edit-->
            <button
                onclick="edit_store(this,'{{element.store_id}}','{{element.store_name}}','{{element.store_address}}','{{element.store_phone}}','{{element.store_fax}}','{{element.tk_service}}','{{element.seat}}')"
                class="w3-button w3-white w3-large w3-right"><i class="far fa-edit"></i></button>

            <div class="w3-bar-item">
                <span class="w3-large"><i class="fas fa-star"></i> {{element.store_name}}</span><br>


            </div>
        </li>

        {% endfor %}
    </ul>
    <br>
    <button onclick="add_store()" class="w3-button w3-white w3-xxlarge w3-right"><i
            class="fas fa-plus-circle"></i></button>

</div>


<script>
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function ajax_add_store(data) {
        $.ajax({
            type: 'POST',
            url: '/softwayliving/AddStore/',
            data: data,
            success: function (response) {
                if (response.error != null) {
                    console.log(response.error)
                    Notiflix.Notify.Failure('發生錯誤！！');
                    Notiflix.Loading.Remove();
                } else if (response.alert != null) {
                    Notiflix.Report.Warning('警告', response.alert, 'ok');
                    Notiflix.Loading.Remove();
                } else {
                    Notiflix.Notify.Success('已新增！！');
                    document.getElementById('add_Modal').style.display = 'none'
                    window.location.reload();
                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                Notiflix.Notify.Failure('發生未知錯誤！！');
                Notiflix.Loading.Remove();

            }

        })
    }

    function ajax_edit_store(data) {
        $.ajax({
            type: 'POST',
            url: '/softwayliving/ModifyStore/',
            data: data,
            success: function (response) {
                if (response.error != null) {
                    console.log(response.error)
                    Notiflix.Notify.Failure('發生錯誤！！');
                    Notiflix.Loading.Remove();
                } else if (response.alert != null) {
                    Notiflix.Report.Warning('警告', response.alert, 'ok');
                    Notiflix.Loading.Remove();
                } else {
                    Notiflix.Notify.Success('已儲存！！');
                    document.getElementById('edit_Modal').style.display = 'none'
                    window.location.reload();
                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                Notiflix.Notify.Failure('發生未知錯誤！！');
                Notiflix.Loading.Remove();

            }

        })
    }

    function ajax_delete_store(t, data) {
        $.ajax({
            type: 'POST',
            url: '/softwayliving/DeleteStore/',
            data: data,
            success: function (response) {
                if (response.error != null) {
                    console.log(response.error)
                    Notiflix.Notify.Failure('發生錯誤！！');
                    // window.location.replace('/softwayliving/error/');
                } else if (response.alert != null) {
                    Notiflix.Report.Warning('警告', response.alert, 'ok');
                } else if (response.outdated != null) {
                    Notiflix.Report.Warning('警告', response.outdated, 'ok');
                    window.location.replace(response.action)
                } else {
                    Notiflix.Notify.Success('已刪除！！');
                    t.parentElement.style.display = 'none'
                }

                Notiflix.Loading.Remove();


            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                Notiflix.Notify.Failure('發生未知錯誤！！');
                Notiflix.Loading.Remove();

            }

        })
    }


    function save_add() {
        Notiflix.Confirm.Show('管理者權限', '確定要新增嗎?', '是-新增', '否',
            function () {
                var status = true
                var store_name = $('#add_store_name').val();
                var store_address = $('#add_store_address').val();
                var store_phone = $('#add_store_phone').val();
                var store_fax = $('#add_store_fax').val();
                var tk_service = $('#add_tk_service').val();
                var seat = $('#add_seat').val();

                if (store_name == '') {
                    Notiflix.Notify.Failure('請輸入店家名稱！！')
                    status = false;
                } else if (store_address == '') {
                    Notiflix.Notify.Failure('請輸入店家地址！！')
                    status = false;
                } else if (store_phone == '') {
                    Notiflix.Notify.Failure('請輸入店家電話！！')
                    status = false;
                } else if (store_fax == '') {
                    Notiflix.Notify.Failure('請輸入店家傳真！！')
                    status = false;
                } else if (tk_service == '') {
                    Notiflix.Notify.Failure('請輸入是否提供外帶！！')
                    status = false;
                } else if (seat == '') {
                    Notiflix.Notify.Failure('請輸入店內座位數！！')
                    status = false;
                }

                if (status) {
                    var data = {
                        'store_name': store_name,
                        'store_address': store_address,
                        'store_phone': store_phone,
                        'store_fax': store_fax,
                        'tk_service': tk_service,
                        'seat': seat
                    }

                    //spinner show
                    Notiflix.Loading.Hourglass('新增中....');
                    ajax_add_store(data)
                }


            },
            function () {

            });
    }

    function save_edit() {
        Notiflix.Confirm.Show('管理者權限', '確定要更動嗎?', '是-儲存', '否',
            function () {
                var prod_id = $('#edit_prod_id').val();
                var prod_name = $('#edit_prod_name').val();
                var prod_price = $('#edit_prod_price').val();


                var data = {
                    'prod_id': prod_id,
                    'prod_name': prod_name,
                    'prod_price': prod_price
                }

                //spinner show
                Notiflix.Loading.Hourglass('更新中....');
                ajax_edit_product(data)

            },
            function () {

            });

    }

    function add_store() {
        document.getElementById('add_Modal').style.display = 'inline'
    }

    function edit_store(t, store_id, store_name, store_address, store_phone, store_fax, tk_service, seat) {
        document.getElementById('edit_Modal').style.display = 'inline'
        document.getElementById('edit_store_id').value = store_id
        document.getElementById('edit_store_name').value = store_name
        document.getElementById('edit_store_address').value = store_address
        document.getElementById('edit_store_phone').value = store_phone
        document.getElementById('edit_store_fax').value = store_fax
        document.getElementById('edit_tk_service').value = tk_service
        document.getElementById('edit_seat').value = seat



    }


    function delete_store(t, store_id) {
        Notiflix.Confirm.Show('管理者權限', '確定要刪除此價位嗎?', '是-刪除', '否',
            function () {

                var data = {
                    'store_id': store_id
                }

                //spinner show
                Notiflix.Loading.Hourglass('正在刪除....');
                ajax_delete_store(t, data)

            },
            function () {


            });
    }

    function setting(action) {
        if (action == 'admin') {
            window.location.href = '/softwayliving/admins/'
        }
    }
</script>

{% endblock %}