{% extends 'admin_base.html' %}

{% block headmessage %}
<div class="w3-center">
    <h3><b>舒微生活管理員系統</b></h3>
</div>
{% endblock %}

{% block content %}
{% load static %}

<div class="w3-container">

    <font size='4'>
        <button id="admin_reservation" class="w3-btn w3-round-large w3-block w3-teal w3-padding-16 w3-section w3-right"
            onclick="admin_reservation()"><i class="fas fa-calendar-alt"></i> 代客訂位</button>
    </font>

    <font size='4'>
        <button id="admin_checkreservation"
            class="w3-btn w3-round-large w3-block w3-teal w3-padding-16 w3-section w3-right" onclick="admin_check()"><i
                class="fas fa-edit"></i> 查詢/確認/修改</button>
    </font>
</div>
<script>
    function admin_reservation() {
        Notiflix.Loading.Hourglass('讀取中....');
        window.location.href = '/softwayliving/reservation/'
    }

    function admin_check() {
        Notiflix.Loading.Hourglass('讀取中....');
        window.location.href = '/softwayliving/checkreservation/'
    }
</script>

{% endblock %}