{% extends 'admin_base.html' %}
{% load compress %}
{% block headmessage %}
<div class="w3-center">
  <h3><b>管理者 - 訂位</b></h3>
  <font size="5" color="red">
    {{error}}
  </font>

</div>
{% endblock %}

{% block content %}
{% load static %}
<div class="w3-container">
  <form id='admin_member_form' method="post">
    {% csrf_token %}

    <font size="4">
      <label><b>客人姓名</b></label>
      <input id="member_name" name='username' class="w3-input w3-border w3-round-large" type="text"
        placeholder="E.g. : 王小明" value='' required>
    </font>
    <br>
    <font size="4">
      <label><b>客人手機</b></label>
      <input id="member_phone" name='phone' class="w3-input w3-border w3-round-large" type="tel"
        placeholder="E.g. : 0900123456" autocomplete="off" pattern="[0]{1}[9]{1}[0-9]{8}" value='' required>
    </font>

    <!-- <div class="g-recaptcha" data-sitekey={{google_keys}}></div> -->
    <a class="g-recaptcha" data-sitekey={{google_keys}} data-callback="onSubmit" data-size="invisible">
    </a>
    <font size='4'>
      <button id="admin_member_submit"
        class="w3-btn w3-round-large w3-block w3-teal w3-padding-16 w3-section w3-right">下一步訂位</button>
    </font>
  </form>
</div>

{% compress js %}
<script src="{% static '/js/templates/admin_reservation.js' %}"></script>
{% endcompress %}


{% endblock %}
