{% extends 'admin_base.html' %}

<!-- include 'header.html'   => image-->
<!-- content-->
{% block content %}
{% load static %}
<div class="w3-center">
    <font size='5' face="DFKai-sb">
        <b><I>聰明工作，智慧生活</I></b>
        <h3>管理者權限(共{{data|length}}筆)</h3>
    </font>

</div>


<!-- add Modal -->
<div id="add_Modal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
        <header class="w3-container w3-teal w3-center w3-padding-32">
            <span onclick="document.getElementById('add_Modal').style.display='none'"
                class="w3-button w3-teal w3-xlarge w3-display-topright">X</span>
            <h2 class="w3-wide"><i class="fa fa-bell"></i> 新增管理員</h2>
        </header>
        <div class="w3-container">
            <br>
            <font size="4">
                <input id='add_staff_id' type="text" style="display: none">
                <label><span> 店家名稱： </label>
                <select class="select form-control" style='font-size:18px; height:40px;' type="text" value=""
                    id="store_name_select" onchange="getStoreSeat()">
                    <option selected disabled hidden>請選擇店家</option>
                </select>
                <br>
                <!-- action-->
                <label><span> 管理者姓名： </label>
                <input id='add_staff_name' type="text" class="w3-input w3-border" value="">
                <br>
                <label><span> 管理者電話： </label>
                <input id='add_staff_phone' type="tel" class="w3-input w3-border" value="">
                <br>
                <label><span> 管理者信箱： </label>
                <input id='add_email' type="text" class="w3-input w3-border" value="">
                <br>
                <label><span> 管理者權限： </label>
                <select class="select form-control" style='font-size:18px; height:40px;' type="text" value=""
                    id='add_auth' required>
                    <option name='auth' value="is_superuser" selected>最高權限管理員</option>
                    <option name='auth' value="is_admin">店長</option>
                </select>


                <br>
                <button id='modal_button_save' onclick='save_add()'
                    class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">確定新增
                    <i class="fa fa-check"></i></button>

                <button class="w3-button w3-red w3-section"
                    onclick="document.getElementById('add_Modal').style.display='none'">關閉 <i
                        class="fa fa-remove"></i></button>
            </font>
        </div>

    </div>
</div>



<div class="w3-container">

    <ul class="w3-ul w3-card-4">

        {% for element in data %}
        <!-- edit Modal -->
        <div id="edit_Modal" class="w3-modal">
            <div class="w3-modal-content w3-animate-top w3-card-4">
                <header class="w3-container w3-teal w3-center w3-padding-32">
                    <span onclick="document.getElementById('edit_Modal').style.display='none'"
                        class="w3-button w3-teal w3-xlarge w3-display-topright">X</span>
                    <h2 class="w3-wide"><i class="fa fa-bell"></i> 修改管理者資料</h2>
                </header>
                <div class="w3-container">
                    <br>
                    <font size="4">
                        <input id='edit_staff_id' type="text" style="display: none">
                        <!-- action-->
                        <label><span> 管理者姓名： </label><span
                            onclick="document.getElementById('edit_staff_name').removeAttribute('disabled')"><i
                                class="far fa-edit w3-right"></i></span>
                        <input id='edit_staff_name' type="text" class="w3-input w3-border" value="" disabled>
                        <br>
                        <label><span> 管理者電話： </label><span
                            onclick="document.getElementById('edit_staff_phone').removeAttribute('disabled')"><i
                                class="far fa-edit w3-right"></i></span>
                        <input id='edit_staff_phone' type="tel" class="w3-input w3-border" value="" disabled>
                        <br>
                        <label><span> 管理者信箱： </label><span
                            onclick="document.getElementById('edit_email').removeAttribute('disabled')"><i
                                class="far fa-edit w3-right"></i></span>
                        <input id='edit_email' type="text" class="w3-input w3-border" value="" disabled>
                        <br>
                        <label><span> 管理者密碼： </label><span
                            onclick="document.getElementById('edit_password').removeAttribute('disabled')"><i
                                class="far fa-edit w3-right"></i></span>
                        <br>
                        <label><span> 管理者權限： </label><span
                            onclick="document.getElementById('edit_is_superuser').removeAttribute('disabled')"><i
                                class="far fa-edit w3-right"></i></span>
                        <select class="select form-control" style='font-size:18px; height:40px;' type="text" value=""
                            id='edit_is_superuser' required>
                            <option name='auth' value="is_superuser" selected>最高權限管理員</option>
                            <option name='auth' value="is_admin">店長</option>
                        </select>


                        <br>
                        <button id='modal_button_save' onclick='save_edit()'
                            class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">儲存
                            <i class="fa fa-check"></i></button>
                        <button id='modal_button_delect_admin'
                            onclick="delete_admin()"
                            class="w3-button w3-block w3-red w3-padding-16 w3-section w3-right">刪除管理者
                            <i class="fas fa-trash-alt"></i></button>

                        <button class="w3-button w3-red w3-section"
                            onclick="document.getElementById('edit_Modal').style.display='none'">關閉 <i
                                class="fa fa-remove"></i></button>
                    </font>
                </div>

            </div>
        </div>
        <li class="w3-bar">
            <button onclick="setting('admin')" class="w3-button w3-white w3-large w3-left"><i
                    class="fas fa-angle-left"></i></button>
            <button
                onclick="edit_admin(this,'{{element.staff_id}}','{{element.staff_name}}', '{{element.staff_phone}}','{{element.email}}')"
                class="w3-button w3-white w3-large w3-right"><i class="far fa-edit"></i></button>


            <div class="w3-bar-item">
                <!-- <span class="w3-left w3-large">({{data.count}})</span> -->
                <span class="w3-large"><i class="far fa-user"></i> {{element.staff_name}}
                </span><br>
                <span><i class="fas fa-phone"></i> {{element.staff_phone}}</span><br>
                <span><i class="far fa-envelope"></i> {{element.email}}</span>

            </div>
        </li>

        {% endfor %}

    </ul>
    <br>
    <button onclick="add_admin()" class="w3-button w3-white w3-xxlarge w3-right"><i
            class="fas fa-plus-circle"></i></button>
</div>


<script src="{% static '/js/templates/admin_adminsetting.js' %}"></script>

{% endblock %}