{% load static %}

<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left"
  style="display:none;z-index:2;width:40%;min-width:230px" id="mySidebar">
  <i onclick="document.getElementById('mySidebar').style.display = 'none'"
    class="fa fa-remove  w3-button w3-display-topright"></i>

  <img id="img" src="{% static '/images/Logo1.jpg' %}" class="w3-circle w3-display-topmiddle" style="width:100px">
  <br><br><br>
  <p style="text-align: center"> 管理者</p>
  <hr>

  <!-- <h4 style="text-align: center"><b>會員</b></h4>
  <hr> -->
  <a onclick="send('sidebar_admin_reservation')" class="w3-bar-item w3-button" style="font-size:20px"><i
      class="fas fa-calendar-alt" style="font-size:24px"></i> 代客訂位</a>
  <a id='sidebar_member_list' onclick="send('sidebar_member_list')" class="w3-bar-item w3-button"
    style="font-size:20px"><i class="far fa-user-circle" style="font-size:24px"></i> 會員管理</a>
  <a id='sidebar_production_list' onclick="send('sidebar_product_list')" class="w3-bar-item w3-button"
    style="font-size:20px"><i class="fas fa-tags"></i> 價位管理</a>
  <a id='sidebar_store_list' onclick="" class="w3-bar-item w3-button"
    style="font-size:20px"><i class="fas fa-code-branch" style="font-size:26px"></i> 分店管理</a>


  <!-- <hr>
  <h4 style="text-align: center"><b>查詢</b></h4> -->

  <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn"
    style="font-size:20px"><i class="far fa-edit" style="font-size:24px"></i>
    訂位管理 <i class="fa fa-caret-down"></i>
  </a>
  <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
    <a onclick="send('all')" class="w3-bar-item w3-button" style="font-size:20px"><i class="fas fa-star"
        style="color:rgb(255, 217, 0);"></i></i>
      總表</a>
    <a id='sidebar_not_confirm' class="w3-bar-item w3-button" style="font-size:20px"><i class="fa fa-spinner"
        style="color:orange;"></i>
      待確認</a>
    <a id='sidebar_confirm' class="w3-bar-item w3-button" style="font-size:20px"><i class="far fa-check-circle"
        style="color:green;"></i> 已確認</a>
    <a id='sidebar_waiting' class="w3-bar-item w3-button" style="font-size:20px"><i class="far fa-circle"
        style="color:red;"></i> 候補名單</a>
    <a id='sidebar_cancel' class="w3-bar-item w3-button" style="font-size:20px"><i class="far fa-times-circle"></i>
      已刪除</a>

  </div>

  <!-- <hr>
  <a onclick="send('all')" class="w3-bar-item w3-button" style="font-size:20px"><i class="fas fa-star"
      style="color:rgb(255, 217, 0);"></i></i>
    總表</a>
  <a id='sidebar_not_confirm' class="w3-bar-item w3-button" style="font-size:20px"><i class="fa fa-spinner"
      style="color:orange;"></i>
    待確認(含候補</a>
  <a id='sidebar_confirm' class="w3-bar-item w3-button" style="font-size:20px"><i class="fa fa-check"
      style="color:green;"></i> 已確認</a>
  <a id='sidebar_waiting' class="w3-bar-item w3-button" style="font-size:20px"><i class="fa fa-circle-o"
      style="color:red;"></i> 候補名單</a>
  <a id='sidebar_cancel' class="w3-bar-item w3-button" style="font-size:20px"><i class="fas fa-trash-alt"></i> 已刪除</a>
 -->





</nav>

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-button w3-padding-16 w3-left"
      onclick="document.getElementById('mySidebar').style.display = 'block' ">☰</div>
  </div>
</div>



<header class="w3-center w3-animate-top w3-padding-small">
  <img id="img" src="{% static '/images/Logo1.jpg' %}" class="w3-circle" style="width:115px">

  <br>
  <b style="font-size:130%;" id="displayName">Softway 舒微生活</b>
  <br>
  <b style="font-size:110%;" id="displayPhone"></b>
  <hr>

</header>

<script>
  function myAccFunc() {
    var x = document.getElementById("demoAcc");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else {
      x.className = x.className.replace(" w3-show", "");
    }
  }


  function send(action) {
    if (action == 'all') {
      Notiflix.Loading.Hourglass('讀取中....');
      ///總表
      window.location.href = '/softwayliving/checkreservation/'
    } else if (action == 'sidebar_member_list') {
      Notiflix.Loading.Hourglass('讀取中....');
      //會員管理
      window.location.href = '/softwayliving/member_list/'
    } else if (action == 'sidebar_product_list') {
      Notiflix.Loading.Hourglass('讀取中....');
      //價位管理
      window.location.href = '/softwayliving/productions/'

    } else if (action == 'sidebar_store_list') {
      Notiflix.Loading.Hourglass('讀取中....');
      //分店管理
      window.location.href = '/softwayliving//'

    }else if (action == 'sidebar_admin_reservation') {
      Notiflix.Loading.Hourglass('讀取中....');
      //訂位（管理者
      window.location.href = '/softwayliving/reservation/'
    }

    
  }
</script>