{% extends 'admin_base.html' %}
{% load compress %}
<!-- include 'header.html'   => image-->
<!-- content-->
{% block content %}
{% load static %}
<div class="w3-center">
    <font size='5' face="DFKai-sb">
        <b><I>聰明工作，智慧生活</I></b>

    </font>
</div>

<div class="w3-container">
    <form id='checklogin_form' method="post">
        {% csrf_token %}

        <font size="4">
            <div class="input-field col s12">
                <input id="email" type="email" name='email' class="validate"  value='kevin210158@gmail.com'>
                <label for="email" style="size:5px">帳號</label>
            </div>
        <br>
            <div class="input-field col s12">
                <input id="password" type="password" name='password' class="validate" value=''>
                <label for="password" style="size:510px">密碼</label>
            </div>

        </font>
        <p>
            <font color='red'>{{error}}
        </p>
        <a class="g-recaptcha" data-sitekey={{google_keys}} data-callback="onSubmit" data-size="invisible">
        </a>
        <font size='4'>
            <button id="checklogin_form_submit"
                class="w3-btn w3-round-large w3-block w3-teal w3-padding-16 w3-section w3-right">登入</button>
        </font>
        
    </form>
</div>


{% compress js %}
<script src="{% static '/js/templates/admin_login.js' %}"></script>
<!-- <script src="{% static '/js/templates/jquery.cookie.js' %}"></script> -->

{% endcompress %}

{% endblock %}