{% extends 'base.html' %}

{% block headmessage %}
<div class="w3-center">
    <h3><b>管理者 - 查詢/確認/修改</b></h3>
</div>
{% endblock %}

{% block content %}
{% load static %}

<!-- Calendar-->
<div id='calendar'>
</div>

<!-- Date num calculated-->
<input id="date_num" value="0" type="text" style="display: none">


<script>
    //csrf_ajax
    $.ajaxSetup({
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
    });

    function admin_ajax_time(data, num, calendar) {
        $.ajax({
            type: 'POST',
            url: '/softwayliving/staff_check/',
            data: data,
            success: function (response) {
                if (response.error != null) {
                    console.log(response.error)
                    // window.location.replace('/booking/error/');
                } else {
                    result = response.result
                    console.log(result)
                    //Function of calendar (return calendar.render())
                    calendar_fun(result, num)

                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(errorThrown)
                // window.location.replace('/booking/error/');
            }

        });
    }

    //ajax function
    function ajax_post(num = 0) {
        //ajax data
        var status = true;

        var store_id = '6f48f753-e4f0-11e9-bfcb-0e9f22d909c0';
        var start_month = moment().add(num, 'M').startOf('month').format('YYYY-MM-DD')
        var end_month = moment().add(num, 'M').endOf('month').format('YYYY-MM-DD');

        console.log(start_month, end_month)

        if (status) {
            var data = {
                'store_id': store_id,
                'start_month': start_month,
                'end_month': end_month,
            }
            //Clean the calendar
            document.getElementById('calendar').innerHTML = ''

            // do ajax fuction
            admin_ajax_time(data, num)

            //spinner icon
            
            document.getElementById('calendar').innerHTML =
                 '<div class="w3-center"><font size="10"><img src=\'{% static "/images/Spinner01.svg" %}\' /></font></div>'

        }


    }

    //calendar function
    function calendar_fun(result, num = 0) {
        document.getElementById('calendar').innerHTML = ''
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            //ColumnHeaderText
            columnHeaderText: function (date) {
                if (date.getDay() === 0) {
                    return '日';
                }
                if (date.getDay() === 1) {
                    return '一';
                }
                if (date.getDay() === 2) {
                    return '二';
                }
                if (date.getDay() === 3) {
                    return '三';
                }
                if (date.getDay() === 4) {
                    return '四';
                }
                if (date.getDay() === 5) {
                    return '五';
                }
                if (date.getDay() === 6) {
                    return '六';
                }

            },
            //Plugins - 'interaction','dayGrid'
            plugins: ['interaction', 'dayGrid', 'moment', 'list'],
            editable: true,
            //Default View
            defaultView: 'dayGridMonth',
            //defaultDate
            defaultDate: (new Date().addMonths(num)).toISOString().slice(0, 10),
            //Height
            height: 'auto',
            contentHeight: 500,
            //Header
            header: {
                left: 'prev',
                center: 'title,',
                right: 'dayGridMonth,listMonth,next'
            },
            //Header -  Title Text
            buttonText: {
                month: '月',
                list: '列表'
            },
            //Header - Title format
            titleFormat: 'YYYY  MM月',
            //List - Title format
            listDayFormat: 'MM 月 DD',
            listDayAltFormat: 'dddd',
            //Show none current date (False)
            showNonCurrentDates: false,
            //Event Limit
            eventLimit: true,
            views: { dayGrid: { eventLimit: 3 }},
            //Date selectable (true)
            selectable: true,

            events: function (info, successCallback) {
                var event = [];
                for (var i = 0; i < result.length; i++) {

                    var date = result[i].bk_date;
                    var time = 'T' + result[i].bk_st;
                    var session = result[i].time_session;
                    var people = result[i].adult + '大' + result[i].children + '小';
                    var price = '$' + result[i].bk_price;
                    var ps = '#' + result[i].bk_ps + ' ';
                    var waiting_num = result[i].waiting_num

                    if (session == 'Lunch') {
                        session = '午餐'
                    } else {
                        session = '晚餐'
                    }

                    if (ps == '#無 ') {
                        ps = ''
                    }

                    if (waiting_num == 0) {
                        color = 'green'
                    } else {
                        color = 'red'
                    }


                    event.push({
                        title: session + ' ' + people + ' ' + price + ' ' + ps,
                        start: date + time,
                        backgroundColor: color,
                        textColor: 'white',
                    });
                    
                    successCallback(event)

                }
            },

            eventRender: function (info) {

                var month_text = info.el.text
                if (month_text != undefined) {
                    var text = month_text.split(' ')[1]
                    info.el.text = text

                }


                //list of dot
                var dotEl = info.el.getElementsByClassName('fc-event-dot')[0];


                // if (dotEl) {
                //     dotEl.style.backgroundColor = 'white';
                // }
            },

            //Function
            dateClick: function (info) {
                console.log('dateClick: ' + info)

            },
            eventMouseEnter: function (info) {
                var adult = $('#adult_select').val();
                var child = $('#children_select').val();

                console.log('eventMouseEnter')
                // var evMousEnter_st = info.event.start
                // var start = (new Date(evMousEnter_st).addDays(1)).toISOString().slice(0, 10)
                // var title = info.event.title
                // var color = info.el.style.backgroundColor

                // //Monday disable
                // if (title == '店休') {
                //     alert('週一店休喔！！')
                //     return false
                // }
                // //insert Modal of date
                // document.getElementById('modal_date').innerHTML =
                //     '<label><i class="fa fa-calendar"></i></label>' + ' 日期： ' + '<p id="bk_date_select">' +
                //     start + '</p>'

                // //ajax eventClick_sendDate(data)
                // var data = {
                //     'adult': adult,
                //     'children': child,
                //     'event_date': start,
                //     'store_id': '6f48f753-e4f0-11e9-bfcb-0e9f22d909c0',

                // }
                // //spinner
                // $('#cover-spin').show(0)
                // eventClick_sendDate(data)


            }
        });
        return calendar.render();

    }

    //ready
    $(function () {

        //do the current month to ajax 
        var num = parseInt($('#date_num').val())
        //do the fuction of ajax_post()
        ajax_post(num)

        //Date addDays() & addMonths()
        Date.prototype.addDays = function (days) {
            var date = new Date(this.valueOf());
            date.setDate(date.getDate() + days);
            return date;
        }
        Date.prototype.addMonths = function (months) {
            var date = new Date(this.valueOf());
            date.setMonth(date.getMonth() + months);
            return date;
        }
    })

    //next month of button
    $('body').on('click', 'button.fc-next-button', function () {
        var num_str = $('#date_num').val()
        var num = parseInt(num_str) + 1
        $('#date_num').val(num)
        //do the fuction of ajax_post()
        ajax_post(num)
    })

    //previous month of button
    $('body').on('click', 'button.fc-prev-button', function () {
        var num_str = $('#date_num').val()
        var num = parseInt(num_str) - 1
        $('#date_num').val(num)
        //do the fuction of ajax_post()
        ajax_post(num)
    })
</script>


{% endblock %}