{% load static %}

<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left"
  style="display:none;z-index:2;width:40%;min-width:230px" id="mySidebar">
  <i onclick="document.getElementById('mySidebar').style.display = 'none'"
    class="fa fa-remove  w3-button w3-display-topright"></i>

  <img id="img" src="{% static '/images/Logo1.jpg' %}" class="w3-circle w3-display-topmiddle" style="width:115px">
  <br><br><br>
  <p style="text-align: center"> 管理者</p>
  <hr>

  <h3 style="text-align: center"><b>會員</b></h3>
  <hr>
  <a onclick="" class="w3-bar-item w3-button"><i class="fas fa-calendar-alt"></i> 訂位</a>
  <a id='' class="w3-bar-item w3-button"><i class="fas fa-user-circle"></i> 會員名單</a>
  

  <hr>
  <h3 style="text-align: center"><b>查詢</b></h3>
  <hr>
  <a onclick="send('all')" class="w3-bar-item w3-button"><i class="fas fa-star" style="color:rgb(255, 217, 0);"></i></i>
    總表</a>
  <a id='sidebar_not_confirm' class="w3-bar-item w3-button"><i class="fa fa-spinner" style="color:orange;"></i> 待確認(含候補</a>
  <a id='sidebar_confirm' class="w3-bar-item w3-button"><i class="fa fa-check" style="color:green;"></i> 已確認</a>
  <a id='sidebar_waiting' class="w3-bar-item w3-button"><i class="fa fa-circle-o" style="color:red;"></i> 候補名單</a>
  <a id='sidebar_cancel' class="w3-bar-item w3-button"><i class="fas fa-trash-alt"></i> 已刪除</a>

  
  
  


</nav>

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-button w3-padding-16 w3-left"
      onclick="document.getElementById('mySidebar').style.display = 'block' ">☰</div>
  </div>
</div>



<header class="w3-center w3-animate-top w3-padding-small">
  <img id="img" src="{% static '/images/Logo1.jpg' %}" class="w3-circle" style="width:115px">

  <br>
  <b style="font-size:130%;" id="displayName">Softway 舒微生活</b>
  <br>
  <b style="font-size:110%;" id="displayPhone"></b>
  <hr>

</header>

<script>
  function send(action) {
    if (action == 'not_confirmed') {
      //待確認
      window.location.href = '/softwayliving/not_confirmed/'
    } else if (action == 'confirm'){
      //已確認
      window.location.href = '/softwayliving/confirm/'
    } else if (action == 'waiting'){
      //候補
      window.location.href = '/softwayliving/waiting/'
    }else if (action == 'canceled'){
      //已刪除
      window.location.href = '/softwayliving/canceled/'
    }else{
      //總表
      window.location.href = '/softwayliving/checkreservation/'
    }
    
  }
</script>