{% extends 'admin_base.html' %}

<!-- include 'header.html'   => image-->
<!-- content-->
{% block content %}
{% load static %}
<div class="w3-center">
    <font size='5' face="DFKai-sb">
        <b><I>聰明工作，智慧生活</I></b>

    </font>
</div>

<div class="w3-container">
    <form id='checklogin_form' method="post">
        {% csrf_token %}

        <font size="4">
            <label><b>帳號</b></label>
            <input id="email" name='email' class="w3-input w3-border w3-round-large" type="text"
                placeholder="abc@example.com" value='' required>
        </font>
        <br>
        <font size="4">
            <label><b>密碼</b></label>
            <input id="password" name='password' class="w3-input w3-border w3-round-large" type="password" value=''
                required>
        </font>
        <p>
            <font color='red'>{{error}}
        </p>
        <a class="g-recaptcha" data-sitekey={{google_keys}} data-callback="onSubmit" data-size="invisible">
        </a>
        <font size='4'>
            <button id="checklogin_form_submit"
                class="w3-btn w3-round-large w3-block w3-teal w3-padding-16 w3-section w3-right">登入</button>
        </font>
    </form>
</div>


<script>
    function send() {
        Notiflix.Loading.Hourglass('讀取中....')
        document.getElementById("checklogin_form").action = "/softwayliving/StaffAuth/";
        document.getElementById("checklogin_form").submit();
    }

    function initializeApp(data) {
        liff.getProfile().then(profile => {
            // var disname = {
            //   'name': profile.displayName
            // };
            // disname_json = JSON.parse(JSON.stringify(disname.name))
            // $('#img').attr('src', profile.pictureUrl);
            // $('#social_id').val(data.context.userId); //data.context.userId
            // $('#social_app').val('Line');

        })
    }



    //ready
    $(function () {
        document.getElementById("top_block").style.display = 'none'

        //Notiflix.Loading.Hourglass('讀取中....');
        //init LIFF
        liff.init(function (data) {
            initializeApp(data);
        });
        //$('#email').val('123@123.com'); //data.context.userId
        //$('#password').val('Line');


        // if ($('#email').val() != '' && $('#password').val() != '') {
        //     send()
        // } else {
        //     window.location.replace('/softwayliving/error/');
        // }

    });

    $(function () {
        $('#checklogin_form_submit').click(function (e) {
            var status = true;
            var email = $('#email').val();
            var password = $('#password').val();

            if (email == '') {
                alert('請輸入信箱！')
                status = false;
            } else if (password == '') {
                alert('請輸入密碼！')
                status = false;
            }

            if (status) {
                send()
            }

        });
    });

</script>
{% endblock %}