<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello world</h1>
    <ul>

        <li>{{data.username}}</li>
        <li>{{data.phone}}</li>
        <!-- <li>userid : {{i.user_id}}</li>
        <li>social_id : {{i.social_id}}</li>
        <li>social_app : {{i.social_app}}</li>
        <li>username : {{i.username}}</li>
        <li>phone : {{i.phone}}</li>
        <li>birth : {{i.birth}}</li>
        <li>created_date : {{i.created_date}}</li> -->
        <br>

    </ul>
</body>
</html>