{% extends 'base.html' %}

<!-- include 'header.html'   => image-->
<!-- Headmessage-->
{% block headmessage %}
    <div class="w3-center">
    <h3>會員註冊</h3>
    </div>
 {% endblock %}
    
<!-- Content-->
{% block content %}
<div class="container">
    <form name='member-form' action='/' method='GET'>
        <font size="4">
            <label><b>姓名</b></label>
            <input id="member_name" class="w3-input w3-border w3-round-large" type="text" placeholder="E.g. : 王小明"
            value='' required>
        </font>
      <br>
        <font size="4">
            <label><b>綁定手機</b></label>
            <input id="member_phone" class="w3-input w3-border w3-round-large" type="tel" placeholder="E.g. : 0900123456"
            autocomplete="off" pattern="[0]{1}[9]{1}[0-9]{8}" value='' required>
        </font>

        <font size="3">
            <input type='checkbox' id="privacy_policy" class="w3-check" style="min-height:20px;min-width:20px;" checked>
            <label>我已閱讀並同意<a title="Softway隱私權條款"
                onclick="document.getElementById('modal').style.display = 'block' ">
                Softway隱私權條款</a></label></p>
        </font>
        <font size='4'>
            <input id="member_submit" type='submit' value='建立會員並下一步訂位' class="w3-btn w3-round-large w3-block w3-teal w3-padding-16 w3-section w3-right">
            
        </font>
        

    </form>
    
</div>

{% endblock %}