{% extends 'base.html' %}

<!-- include 'header.html' -->
<!-- Headmessage-->
{% block headmessage %}
<div class='w3-center'>
    <h3><b>注意：只能查詢空位</b></h3>

</div>
{% endblock %}

<!-- content-->
{% block content %}
{% load static %}
<div id="cover-spin"></div>


<!-- Modal -->
<div id="information_Modal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
        <header class="w3-container w3-teal w3-center w3-padding-32">
            <span onclick="document.getElementById('information_Modal').style.display='none'"
                class="w3-button w3-teal w3-xlarge w3-display-topright">X</span>
            <h2 class="w3-wide"><i class="fa fa-bell"></i> 訂位資訊</h2>
        </header>
        <div class="w3-container">
            <br>
            <font size="4">
                <!-- Date-->
                <p id='modal_date'></p>
                <!-- State-->
                <p id='modal_status'></p>

                <br>
                <button class="w3-button w3-red w3-section"
                    onclick="document.getElementById('information_Modal').style.display='none'">關閉 <i
                        class="fa fa-remove"></i></button>
                <p class="w3-right">聯絡我們 <a href="tel:0936336233" class="w3-text-blue">0936336233</a></p>
            </font>
        </div>
    </div>
</div>

<!-- Adult & Children Select-->
<div class="w3-display-container">
    <div class="w3-container">
        <!--store name -->
        <font size="4.5">
            <select class="select form-control" style='font-size:18px; height:40px;' type="text" value=""
                id="store_name_select" onchange="getStoreSeat()">
                <option selected disabled hidden>請選擇店家</option>
            </select>
        </font>
        <div class="container">
            <!-- Date num calculated-->
            <input id="date_num" value="0" type="text" style="display: none">
            <!-- adult & children-->
            <div class="left-half" style="width:100%;">
                <font size="4.5">
                    <select class="select form-control" style='font-size:18px; height:40px;' type="number" value=""
                        id="adult_select">
                        <option selected disabled hidden>請選擇人數</option>
                    </select>
                </font>
            </div>
            <br>
            <div class="right-half" style="width:100%;">
                <font size="4.5">
                    <select class="select form-control" style='font-size:18px; height:40px;' type="number" value=""
                        id="children_select">
                        <option selected disabled hidden>請選擇人數</option>
                    </select>
                </font>
            </div>
        </div>


        <font size='4'>
            <button id="people_number_submit" class="w3-btn w3-round-large w3-block w3-teal w3-padding">
                <i class="fa fa-search"></i> 查詢空位</button>
        </font>
    </div>
</div>
<hr>

<!-- Calendar-->
<div id='calendar_container' class="container w3-center" style='display: none'>
    <p>
        <font color="red">紅色</font>：已客滿(可後補）/ <font color="green">綠色</font>：可訂位
    </p>
    <div id='calendar'>
    </div>
</div>

<script src="{% static '/js/templates/preview_page.js' %}"></script>


{% endblock %}