{% extends 'base.html' %}

<!-- include 'header.html' -->
<!-- Headmessage-->
{% block headmessage %}
<div class='w3-center'>
    <h3><b>Preview Page</b></h3>

</div>
{% endblock %}

<!-- content-->
{% block content %}
{% load static %}
<div id="cover-spin"></div>


<!-- Modal -->
<div id="information_Modal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
        <header class="w3-container w3-teal w3-center w3-padding-32">
            <span onclick="document.getElementById('information_Modal').style.display='none'"
                class="w3-button w3-teal w3-xlarge w3-display-topright">X</span>
            <h2 class="w3-wide"><i class="fa fa-bell"></i> 訂位資訊</h2>
        </header>
        <div class="w3-container">
            <br>
            <font size="4">
                <!-- Date-->
                <p id='modal_date'></p>
                <!-- State-->
                <p id='modal_status'></p>
                
                <br>
                
                <p class="w3-right">聯絡我們 <a href="tel:0936336233" class="w3-text-blue">0936336233</a></p>
            </font>
        </div>
    </div>
</div>

<!-- Adult & Children Select-->
<div class="w3-display-container">
    <div class="container">
        <!-- Date num calculated-->
        <input id="date_num" value="0" type="text" style="display: none">
        <!-- adult & children-->
        <div class="left-half" style="width:100%;">
            <font size="4.5">
                <label><i class="fa fa-male"></i> 成人</label>
                <select class="select form-control" style='font-size:18px; height:40px;' type="number" value=""
                    id="adult_select">
                    <!-- <option value="" selected disabled hidden>請選擇人數</option> -->
                    <option value="1">1 大</option>
                    <option value="2" selected>2 大</option>
                    <option value="3">3 大</option>
                    <option value="4">4 大</option>
                    <option value="5">5 大</option>
                    <option value="6">6 大</option>
                    <option value="7">7 大</option>
                    <option value="8">8 大</option>
                    <option value="10">10 大</option>
                    <option value="11">11 大</option>
                    <option value="12">12 大</option>
                    <option value="13">13 大</option>
                    <option value="14">14 大</option>
                    <option value="15">15 大</option>
                    <option value="16">16 大</option>
                    <option value="17">17 大</option>
                    <option value="18">18 大</option>
                    <option value="19">19 大</option>
                    <option value="20">20 大</option>
                </select>
            </font>
        </div>
        <br>
        <div class="right-half" style="width:100%;">
            <font size="4.5">
                <label><i class="fa fa-child"></i> 兒童</label>
                <select class="select form-control" style='font-size:18px; height:40px;' type="number" value=""
                    id="children_select">
                    <!-- <option value="0" selected disabled hidden>請選擇人數</option> -->
                    <option value="0" selected>0 小</option>
                    <option value="1">1 小</option>
                    <option value="2">2 小</option>
                    <option value="3">3 小</option>
                    <option value="4">4 小</option>
                    <option value="5">5 小</option>
                    <option value="6">6 小</option>
                    <option value="7">7 小</option>
                    <option value="8">8 小</option>
                    <option value="9">9 小</option>
                    <option value="10">10 小</option>
                </select>
            </font>
        </div>
    </div>
    <font size='4'>
        <button id="people_number_submit" class="w3-btn w3-round-large w3-block w3-teal w3-padding">
            <i class="fa fa-search"></i> 查詢空位</button>
    </font>
</div>
<hr>

<!-- Calendar-->
<div id='calendar_container' class="container" style='display: none'>
    <p>
        <font color="red">紅色</font>：已客滿(可後補）/ <font color="green">綠色</font>：可訂位
    </p>
    <div id='calendar'>
    </div>
</div>

<script>
    //Notiflix Loading
    Notiflix.Loading.Init({
        className: 'notiflix-loading',
        zindex: 4000,
        backgroundColor: 'rgba(0,0,0,0.8)',
        rtl: false,
        useGoogleFont: true,
        fontFamily: 'Quicksand',
        cssAnimation: true,
        cssAnimationDuration: 400,
        clickToClose: false,
        customSvgUrl: null,
        svgSize: '80px',
        svgColor: '#00b462',
        messageID: 'NotiflixLoadingMessage',
        messageFontSize: '15px',
        messageMaxLength: 34,
        messageColor: '#dcdcdc',
    });

    


    //csrf_ajax
    $.ajaxSetup({
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
    });

    function people_number(data, num, calendar) {
        $.ajax({
            type: 'POST',
            url: '/booking/getCalendar/',
            data: data,
            success: function (response) {
                if (response.error != null) {
                    // console.log(response.error)
                    window.location.replace('/booking/error/');
                } else if (response.alert != null) {
                    Notiflix.Report.Warning('警告', response.alert, 'ok');
                } else {
                    result = response.result
                    //console.log('result : ' + result)
                    //Function of calendar (return calendar.render())
                    calendar_fun(result, num)

                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest)
                console.log(errorThrown)
                window.location.replace('/booking/error/');
            }

        })
    }

    function eventClick_sendDate(data) {
        $.ajax({
            type: 'POST',
            url: '/booking/getWaitingList/',
            data: data,
            success: function (response) {
                console.log(response)
                var lunch_status = response.lunch_status
                var dinner_status = response.dinner_status
                console.log('lunch status : ' + lunch_status)
                console.log('dinner status : ' + dinner_status)
                //insert Modal of state
                document.getElementById('modal_status').innerHTML =
                    '<label><i class="fa fa-info-circle"></i></label>' + ' 訂位狀態： ' + '<br>' +
                    lunch_status +
                    ' / ' + dinner_status

                //select disable
                if (lunch_status == '午餐：店休' && dinner_status == '晚餐：店休') {
                    console.log('disable')
                    $('#button_submit').attr('disabled', true)
                    $("option[name='noon']").attr('disabled', true)
                    $("option[name='night']").attr('disabled', true)
                    $("option[name='none']").attr('selected', true)
                } else if (lunch_status == '午餐：店休') {
                    $('#button_submit').attr('disabled', false)
                    $("option[name='noon']").attr('disabled', true)
                    $("option[name='night']").attr('disabled', false);
                    $("option[name='night']").attr('selected', 'selected');
                } else if (dinner_status == '晚餐：店休') {
                    $('#button_submit').attr('disabled', false)
                    $("option[name='night']").attr('disabled', true)
                    $("option[name='noon']").attr('disabled', false);
                    $("option[name='noon']").attr('selected', 'selected');
                } else {
                    $('#button_submit').attr('disabled', false)
                    $("option[name='noon']").attr('disabled', false)
                    $("option[name='night']").attr('disabled', false)
                    $("option[name='noon']").attr('selected', true)
                }

                //Show the Modal
                document.getElementById('information_Modal').style.display = 'inline';
                //Hidden spinner
                Notiflix.Loading.Remove();
                // $('#cover-spin').hide();
            },
            error: function (response) {
                Notiflix.Report.Warning('警告', '發生錯誤！！請重新開啟', 'ok');
                console.log(errorThrown)
            }

        })
    }

    function initializeApp(data) {
        liff.getProfile().then(profile => {
            //Line user's profile picture
            $('#img').attr('src', profile.pictureUrl);
        })
    }



    

    function calendar_fun(result, num = 0) {
        //spinner hide
        Notiflix.Loading.Remove();
        document.getElementById('calendar_container').style.display = 'inline'
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            //ColumnHeaderText
            columnHeaderText: function (date) {
                if (date.getDay() === 0) {
                    return '日';
                }
                if (date.getDay() === 1) {
                    return '一';
                }
                if (date.getDay() === 2) {
                    return '二';
                }
                if (date.getDay() === 3) {
                    return '三';
                }
                if (date.getDay() === 4) {
                    return '四';
                }
                if (date.getDay() === 5) {
                    return '五';
                }
                if (date.getDay() === 6) {
                    return '六';
                }

            },
            //Plugins - 'interaction','dayGrid'
            plugins: ['interaction', 'dayGrid', 'moment'],
            editable: true,
            //Default View
            defaultView: 'dayGridMonth',
            //defaultDate
            defaultDate: (new Date().addMonths(num)).toISOString().slice(0, 10),
            //Height
            height: 'auto',
            contentHeight: 500,
            //Header
            header: {
                left: 'prev',
                center: 'title',
                right: 'next'
            },
            //Header - Title format
            titleFormat: 'YYYY  MM月',
            //Show none current date (False)
            showNonCurrentDates: false,

            //Date selectable (true)
            selectable: true,

            events: [{
                    id: '1',
                    title: '午餐',
                    start: new Date(),
                    startRecur: new Date().addDays(3),
                    backgroundColor: 'green',
                    textColor: 'white',
                    daysOfWeek: [2, 3, 4, 5, 6, 0]
                },
                {
                    id: '2',
                    title: '晚餐',
                    start: new Date(),
                    startRecur: new Date().addDays(3),
                    backgroundColor: 'green',
                    textColor: 'white',
                    daysOfWeek: [2, 3, 4, 5, 6, 0]
                },
                {
                    id: '3',
                    title: '店休',
                    start: new Date(),
                    startRecur: new Date().addDays(3),
                    backgroundColor: 'red',
                    textColor: 'white',
                    daysOfWeek: [1],

                },

            ],

            eventRender: function (info) {
                var st = info.event.start
                var start = (new Date(st).addDays(1)).toISOString().slice(0, 10)
                var title = info.event.title
                var color = info.event.backgroundColor

                // console.log(result[0].title)
                for (var i = 0; i < result.length; i++) {

                    //red : 人數額滿
                    if (result[i].start == start && result[i].title == title && result[i]
                        .backgroundColor ==
                        'red') {
                        info.el.style.backgroundColor = 'red'
                    }
                    //yellow : 店休
                    if (result[i].start == start && result[i].title == title && result[i]
                        .backgroundColor ==
                        'yellow') {
                        //console.log(info.event.id)
                        var event = calendar.getEventById(info.event.id)
                        event.setProp('title', '店休')
                        info.el.style.backgroundColor = 'red';
                        info.el.innerText = '店休'

                    }

                }
            },

            //Function
            dateClick: function (info) {
                console.log('dateClick: ' + info)

            },
            eventClick: function (info) {
                var adult = $('#adult_select').val();
                var child = $('#children_select').val();

                console.log(info)
                var evMousEnter_st = info.event.start
                var start = (new Date(evMousEnter_st).addDays(1)).toISOString().slice(0, 10)
                var title = info.event.title
                var color = info.el.style.backgroundColor

                if (title == '午餐') {
                    var time_session = 'Lunch'
                } else {
                    var time_session = 'Dinner'
                }
                //console.log(time_session)
                //Monday disable
                if (title == '店休') {
                    //Notiflix  Report
                    Notiflix.Report.Warning('店休 ', '＃每週一為公休日 ', 'ok ');
                    return false
                }

                //insert Modal of date
                document.getElementById('modal_date').innerHTML =
                    '<label><i class="fa fa-calendar"></i></label>' + ' 日期： ' +
                    '<p id="bk_date_select">' +
                    start + '</p>'

                //ajax eventClick_sendDate(data)
                var data = {
                    'adult': adult,
                    'children': child,
                    'event_date': start,
                    'store_id': '6f48f753-e4f0-11e9-bfcb-0e9f22d909c0',

                }


                eventClick_sendDate(data)
                //spinner show
                Notiflix.Loading.Hourglass();
            }
        });
        return calendar.render();
    }

    function ajax_post(num = 0) {
        //ajax data
        var status = true;
        var adult = $('#adult_select').val();
        var child = $('#children_select').val();
        // var Date = moment().add(1,'M')
        var start_month = moment().add(num, 'M').startOf('month').format('YYYY-MM-DD')
        var end_month = moment().add(num, 'M').endOf('month').format('YYYY-MM-DD');

        console.log(start_month, end_month)
        if (status) {
            var data = {
                'adult': adult,
                'children': child,
                'store_id': '6f48f753-e4f0-11e9-bfcb-0e9f22d909c0',
                'start_month': start_month,
                'end_month': end_month,
            }
            //Clean the calendar
            document.getElementById('calendar').innerHTML = ''

            // do ajax fuction
            people_number(data, num)

            //spinner show
            document.getElementById('calendar_container').style.display = 'inline'
            Notiflix.Loading.Hourglass();

        }


    }

    //ready
    $(function () {
        //Date addDays() & addMonths()
        Date.prototype.addDays = function (days) {
            var date = new Date(this.valueOf());
            date.setDate(date.getDate() + days);
            return date;
        }
        Date.prototype.addMonths = function (months) {
            var date = new Date(this.valueOf());
            date.setMonth(date.getMonth() + months);
            return date;
        }

        //Initial User of displayName & displayPhone
        $('#displayName').html('快速查詢訂位');
       
        
        $('#adult_select, #children_select').change(function (e) {
            document.getElementById('calendar').innerHTML = ''
        })

        
    });


    

    //next month of button
    $('body').on('click', 'button.fc-next-button', function () {
        var num_str = $('#date_num').val()
        var num = parseInt(num_str) + 1
        $('#date_num').val(num)
        //do the fuction of ajax_post()
        ajax_post(num)
    })

    //previous month of button
    $('body').on('click', 'button.fc-prev-button', function () {
        var num_str = $('#date_num').val()
        var num = parseInt(num_str) - 1
        $('#date_num').val(num)
        //do the fuction of ajax_post()
        ajax_post(num)
    })

    $('#people_number_submit').click(function (e) {
        console.log('people_number_submit.click()')
        var num = parseInt($('#date_num').val())
        //do the fuction of ajax_post()
        ajax_post(num)


    })
</script>
{% endblock %}