{% extends 'base.html' %}

<!-- include 'header.html' -->
<!-- Headmessage-->
{% block headmessage %}
<div class='w3-center'>
    <h3><b>舒微生活訂位</b></h3>

</div>
{% endblock %}

<!-- content-->
{% block content %}
{% load static %}

<div id="cover-spin"></div>
<div class="container" style='display: none'>
    <form id="reservation_form" method="post">
        {% csrf_token %}
        <input id='store_id' name='store_id' type="text" value="" style="display: none">

        <input id='adult' name='adult' type="text" value="" style="display: none">
        <input id='children' name='children' type="text" value="" style="display: none">

        <input id='bk_date' name='bk_date' type="text" value="" style="display: none">
        <input id='time_session' name='time_session' type="text" value="" style="display: none">
        <input id='bk_st' name='bk_st' type="text" value="" style="display: none">
        <input id='entire_time' name='entire_time' type="text" value="" style="display: none">
        <input id='event_type' name='event_type' type="text" value="" style="display: none">

        <input id='bk_habit' name='bk_habit' type="text" value="" style="display: none">
        <input id='price' name='price' type="number" value="" style="display: none">

        <!-- <input id="reservation_form_submit" type="submit" style="display: none"> -->
    </form>
</div>

<!-- Modal -->
<div id="information_Modal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
        <header class="w3-container w3-teal w3-center w3-padding-32">
            <span onclick="document.getElementById('information_Modal').style.display='none'"
                class="w3-button w3-teal w3-xlarge w3-display-topright">X</span>
            <h2 class="w3-wide"><i class="fa fa-bell"></i> 訂位資訊</h2>
        </header>
        <div class="w3-container">
            <br>
            <font size="4">
                <!-- Date-->
                <p id='modal_date'></p>
                <!-- State-->
                <p id='modal_status'></p>
                <!-- Time-->
                <label><i class="fa fa-clock-o"></i> 時段(必選)： </label>
                <!-- Time Select-->
                <select class="select form-control" style='font-size:18px; height:40px;' type="number" value=""
                    id='bk_st_select' required>
                    <option name='noon' value="L11:00" selected disable='disabled'>中午：11:00</option>
                    <option name='noon' value="L11:30" disable='disabled'>中午：11:30</option>
                    <option name='noon' value="L12:00" disable='disabled'>中午：12:00</option>
                    <option name='noon' value="L12:30" disable='disabled'>中午：12:30</option>
                    <option name='noon' value="L13:00" disable='disabled'>中午：13:00</option>
                    <option name='noon' value="L13:30" disable='disabled'>中午：13:30</option>
                    <option name='none' disabled>------------</option>
                    <option name='night' value="D17:00" selected disable='disabled'>晚上：17:00</option>
                    <option name='night' value="D17:30" disable='disabled'>晚上：17:30</option>
                    <option name='night' value="D18:00" disable='disabled'>晚上：18:00</option>
                    <option name='night' value="D18:30" disable='disabled'>晚上：18:30</option>
                    <option name='night' value="D19:00" disable='disabled'>晚上：19:00</option>
                    <option name='night' value="D19:30" disable='disabled'>晚上：19:30</option>

                </select>

                <br>

                <!-- Price-->
                <label><i class="fa fa-usd"></i> 價位/每人(必選)：</label>
                <select class="select form-control" style='font-size:18px; height:40px;' type="number" value=""
                    id='price_select' required>
                    <option selected disabled hidden>請選擇價位</option>
                    <!-- <option value="500" selected>$500</option>
                    <option value="600">$600</option>
                    <option value="800">$800</option>
                    <option value="1000">$1000(戰斧牛排套餐)</option>
                    <option value="1200">$1200</option> -->
                </select>

                <br>

                <!-- Ps-->
                <label><i class="fa fa-bell"></i> 飲食習慣：</label>
                <select class="select form-control" style='font-size:18px; height:40px;' type="number" value=""
                    id='bk_habit_select' required>
                    <!-- <option  selected disabled hidden>請選擇飲食習慣</option> -->
                    <option value="無" selected>無</option>
                    <option value="不吃牛">不吃牛</option>
                    <option value="不吃海鮮">不吃海鮮</option>
                    <option disabled>----素食-----</option>
                    <option value="全素食（無辛香料）">全素食（無辛香料）</option>
                    <option value="蛋奶素">蛋奶素</option>

                </select>
                <div class="g-recaptcha" data-sitekey={{google_keys}} data-callback="onSubmit" data-size="invisible">
                </div>
                <br>
                <button id='button_submit' class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right"
                    disabled="disabled">確定送出 <i class="fa fa-check"></i></button>
                <button class="w3-button w3-red w3-section"
                    onclick="document.getElementById('information_Modal').style.display='none'">關閉 <i
                        class="fa fa-remove"></i></button>
                <p class="w3-right">聯絡我們 <a href="tel:0936336233" class="w3-text-blue">0936336233</a></p>
            </font>
        </div>
    </div>
</div>

<!-- Adult & Children Select-->
<div class="w3-display-container">
    <div class="w3-container">
        <!--store name -->
        <font size="4.5">
            <select class="select form-control" style='font-size:18px; height:40px;' type="text" value=""
                id="store_name_select" onchange="getStoreSeat()">
                <option selected disabled hidden>請選擇店家</option>

            </select>
        </font>
        <div class="container">
            <!-- Date num calculated-->
            <input id="date_num" value="0" type="text" style="display: none">

            <!-- adult & children-->
            <div class="left-half" style="width:100%;">
                <font size="4.5">
                    <select class="select form-control" style='font-size:18px; height:40px;' type="number" value=""
                        id="adult_select">
                        <option selected disabled hidden>請選擇人數</option>
                    </select>
                </font>
            </div>
            <br>
            <div class="right-half" style="width:100%;">
                <font size="4.5">
                    <select class="select form-control" style='font-size:18px; height:40px;' type="number" value=""
                        id="children_select">
                        <option selected disabled hidden>請選擇人數</option>

                    </select>
                </font>
            </div>

        </div>

        <font size='4'>
            <a id="people_number_submit" href='#calendar_container'
                class="w3-btn w3-round-large w3-block w3-teal w3-padding">
                <i class="fa fa-search"></i> 查詢空位</a>
        </font>
    </div>
</div>
<hr>

<!-- Calendar-->
<div id='calendar_container' class="container w3-center" style='display: none'>
    <p>
        <font color="red">紅色</font>：已客滿(可後補）/ <font color="green">綠色</font>：可訂位
    </p>
    <div id='calendar'>
    </div>
</div>
<script>
    $('#displayName').html('{{ data.username }}' + '(' + '{{data.social_name}}' + ')');
    $('#displayPhone').html('{{ data.phone }}');

    function reservation_submit() {
        if ('{{request.session.staff_id}}' == null || '{{request.session.staff_id}}' == '') {
            Notiflix.Loading.Hourglass('訂位處理中...');
            reservation_form_submit()
        } else if ('{{request.session.staff_id}}' != null && '{{request.session.staff_id}}' != '') {
            Notiflix.Loading.Hourglass('訂位處理中...');
            //submit data
            document.getElementById("reservation_form").action =
                "/softwayliving/insert_bk/";
            document.getElementById("reservation_form").submit();
        }


        //Line Liff Data
        var line_date = $('#bk_date').val();
        var line_session = $('#time_session').val();
        var line_time = $('#bk_st').val();
        var line_number = $('#adult').val() + " 大 " + $('#children').val() + " 小"
        var line_habit = $('#bk_habit').val();

        if (line_session == 'L') {
            line_session = '午餐'
        } else {
            line_session = '晚餐'
        }

    }

        $(function () {
            $('#people_number_submit').click(function (e) {
                var adult_int = parseInt($('#adult_select').val())
                var child_int = parseInt($('#children_select').val())
                var max_seat = (parseInt($('#adult_select option:last-child').val()) - 5)
                if ((adult_int + child_int > max_seat) && '{{request.user.is_authenticated}}' ==
                    'False') {

                    Notiflix.Report.Warning('警告', '人數不得超過' + max_seat + '人，如需預訂' + max_seat +
                        '人以上，請電洽 02-2821-6659',
                        'ok');
                } else {

                    var num = parseInt($('#date_num').val())
                    //do the fuction of ajax_post()
                    ajax_post(num)
                }
            })
        });
</script>
<script src="{% static '/js/templates/reservation.js' %}"></script>




{% endblock %}