<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test field</title>
</head>

<body>
    
    <form action="/booking/test01/" method="post">
        {% csrf_token %}
        username:<br>
        <input type="text" name="firstname" value="">
        <br>
        phone:<br>
        <input type="text" name="lastname" value="">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>