{% extends 'base.html' %}

<!-- include 'header.html'   => image-->
<!-- content-->
{% block content %}
{% load static %}
<div class="w3-center">
    
    
</div>

<form id='checklogin_form' method="post">
    {% csrf_token %}
    <input id="social_id" style="display: none" name='social_id' value="">
    <input id="social_app" style="display: none" name='social_app' value="">
    <input id="social_name" style="display: none" name='social_name' value="">
</form>
{% compress js %} 
<script src="{% static '/js/templates/user_login.js' %}"></script>
{% endcompress %}

{% endblock %}