{% extends 'base.html' %}

{% block headmessage %}
<div class="w3-center">
    <h3><b>使用者 - 查詢/修改</b></h3>
    <h5>有任何訂位問題，請聯絡我們：<a href='tel:0936336233' class="w3-text-blue">0936336233</a></h5>
    <h5><i class="fas fa-exclamation-triangle"></i><b> 限用餐日3天以前取消</b></h5>
</div>
{% endblock %}

{% block content %}
{% load static %}
{% load tagfunctions %}
<!-- <center>
    <h1>Hello!! {{user_info.username}}</h1>
    <hr>
</center> -->
<!-- No reservation -->
{% if data == False %}

<div class="w3-center">
    <font size="10">
        <i class="fas fa-ban" style="color:grey;"></i></i>
    </font>
    <h4>查無訂單</h4>
    <br>


</div>
{% else %}


{% for element in data %}
{% if  element.is_confirm == False %}

<!-- Under processing-->
<div class="w3-center" style="display: show">
    <font size="10">
        <i class="far fa-question-circle" style="color:orange;"></i>
    </font>
    <h4>訂位處理中</h4>
    <h5>請靜候通知，由專人為您確認訂位</h5>
    <br>
</div>
{% elif element.is_confirm == True  %}
<!-- Success-->
<div class="w3-center" style="display: show">
    <font size="10">
        <i class="far fa-check-circle" style="color:green;"></i>
    </font>
    <h4>訂位已成立</h4>
    <h5>謝謝您的訂位，請準時到達</h5>
    <br><br>
</div>
{% endif %}
<!-- Cancel-->
<!-- <div class="w3-center" style="display: none">
    <font size="10">
        <i class="far fa-times-circle"></i>
    </font>
    <h4>訂位已取消</h4>

    <br><br>
</div> -->

<!-- reservation information-->
<!-- <font size='4'>
    <button id='hidden_list' class="w3-btn w3-round-large w3-block w3-teal">
        隱藏列表 <i class="fas fa-angle-up"></i></button>
</font> -->
<div name='information' class="w3-container w3-border w3-round-xxlarge">
    <div class="w3-center">
        <font size='6'>
            <h2>訂位資訊</h2>
            <hr>


            <!-- <h3><label><i class="fas fa-user-circle"></i> 訂位人： {{user_info.username}}</label></h3> -->
            <div class="w3-container" align="left">
                <!-- <input type="text" id='bk_uuid' value="" style="display: none">
                <input type="text" id='bk_date' value="" style="display: none"> -->

                <h4>店家：{{ store|index:forloop.counter0|index:'store_name' }}</h4>
                <h4>用餐日期：{{element.bk_date}} </h4>
                <h4>{{element.time_session|time_session_name}} - {{element.bk_st}}</h4>
                <h4>訂位人： {{user_info.username}} 先生/小姐</h4>
                <h4>用餐人數： {{element.adult}} 大 {{element.children}} 小</h4>
                <h4>價位：＄{{element.bk_price}}</h4>
                <h4>飲食習慣：{{element.bk_habit}}</h4>

            </div>


        </font>

        <font size='4'>
            <button name="cancel_button" onclick="cancel_click('{{element.bk_date}}','{{element.bk_uuid}}')"
                class="w3-btn w3-round-large  w3-teal w3-padding">取消訂位</button>
        </font>

    </div>
</div>
<hr>

{% endfor %}
{% endif %}
<center>
    <font size='4'>
        <button id="close_button" onclick="closewindow();" class="w3-btn w3-round-large  w3-teal w3-padding">關閉</button>
    </font>
</center>
<!-- form to delete -->
<form id='cancel_form' method="post">
    {% csrf_token %}
    <input name='bk_uuid' value='' type="hidden">
</form>


<script src="{% static '/js/templates/user_checkreservation.js' %}"></script>

<script>
    $('#displayName').html('{{user_info.username}}' + '(' + '{{user_info.social_name}}' + ')')
</script>

{% endblock %}