{% extends 'base.html' %}

{% block headmessage %}
<div class="w3-center">
    <h3><b>請選擇訂位/查詢訂位</b></h3>
</div>
{% endblock %}

{% block content %}
{% load static %}

<form id='userdashboard_form' method="post" style="display: none">
    {% csrf_token %}
    <input id="user_id" style="display: none" name='user_id' value="{{data.user_id}}">
</form>


<div class="w3-container">
    <font size='4'>
        <button class="w3-btn w3-round-large w3-block w3-teal w3-padding-16 w3-section w3-right"
            onclick="user_reservation()"><i class="fas fa-calendar-alt"></i> 訂位</button>
    </font>

    <font size='4'>
        <button class="w3-btn w3-round-large w3-block w3-teal w3-padding-16 w3-section w3-right"
            onclick="user_check()"><i class="fas fa-edit"></i> 查詢/取消</button>
    </font>
</div>

<script>
    function user_reservation() {
        Notiflix.Loading.Hourglass('讀取中....');
        window.location.href = '/booking/member/'
    }

    function user_check() {
        Notiflix.Loading.Hourglass('讀取中....');
        document.getElementById("userdashboard_form").action = "/userdashboard/checkreservation/";
        document.getElementById("userdashboard_form").submit();
    }

    $("#displayName").text('{{data.username}}' + '(' + '{{data.social_name}}' + ')')
</script>


{% endblock %}